@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#011D0D, #0E2016);
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover {
    background: #fff;
    color: black
}
#apropos
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(600px);
}
#image
{
    transform: translateY(150px);
}
#bouton {
    position: absolute;
    transform: translateY(170px);
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color:black;
    font-size: 1.5em;
}
.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transform: translateY(300px);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #FFF;
    border-right: 5px solid #FFF;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
#aproposimage {
    position: absolute;
    transform: translateX(1650px);
}
div#piedpage {
    transform: translateY(800px);
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div#piedpage ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
div#piedpage ul li {
    list-style: none;
    margin-left: 290px;
}
div#piedpage ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 1px;
}
div#piedpage ul li a:hover {
    text-decoration: none;
}